extends ../boilerplate

block head
	title Chez Mauve - #{title}

block body
	menu.ui.inverted.main.menu
		span.right.icon.menu
			each link in menu.contact
				a.item(href=link.url)
					i(class=link.icon+" icon")
		a.item#chatToggle
			i.comment.icon
		each link in menu.links
			a(href=link.url,class=(link.name===tab?'active item':"item"))
				i(class=link.icon + " icon")
				span.text=link.name
	.ui.segment#content
		block content
	iframe.ui.sidebar#chat(src="/c/lobby")
block scripts
	script(src="/scripts/scripts.js")
